#containerLogin{
    padding-top: 150px;
    text-align: center;
}
#containerInternoLogin{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    background-color: #ffffff;
    text-align: center;
}

#containerAlert{
    width: 100%;
    position: absolute;
    padding: 10px;
    top:0px;
    z-index: 10150;
    text-align: center;
    left: 0px;
    color: white;
}

.sombraVermelhaAlert{
    box-shadow: 5px 5px 5px rgba(249, 28,28,.3);
}
.escondeAlerta{
    display: none;
}
.mostraAlerta{
    display: block;
}